streamlit==1.6.0
docx2txt==0.8
pyttsx3==2.90
SpeechRecognition==3.8.1
python-docx==0.8.11
streamlit-lottie==0.0.3
PyAudio==0.2.13 
audio-recorder-streamlit==0.0.8
google-cloud-speech==2.19.0 
pydub==0.25.1 
